<!DOCTYPE html>
<html>
<head>
    <title>Data Janitor</title>
    <style>
        html, body {height: 100%; width: 100%;
        padding: 1; margin: 1;}
        H1 {font-family: monospace; font-size: 36px; color: ghostwhite}
        a {font-family: monospace; font-size: 16px; color: ghostwhite}
        #footer {position: absolute; bottom: 0px}
        body { background: #FFF url(https://j29831emh5lwzq1euii4vztg-wpengine.netdna-ssl.com/wp-content/uploads/2017/05/zenko-multi-cloud.png) no-repeat bottom left; background-size: 300px }
    </style>
</head>
<body style="background-color: rgb(153,0,94);" >
    <H1>Your file is moved !</H1>
    <a href="/">Let's go back now</a>
</body>
</html>
